<div *ngFor="let match of matchDetail, let j=index">
    <div class="heading">
        <h2>{{match?.team1Name |titlecase}} vs {{match?.team2Name|titlecase}}</h2>
    </div>
    <div class="tableshow" *ngIf="status===0">
        <div>
            <button class="btn btn-outline-primary nav-item" (click)="routeToGiven('deep-insight')">Deep Insight</button>
           </div>
           <div>
            <button class="btn btn-outline-primary nav-item" (click)="routeToGiven('graph')">Analytics</button>
           </div>
        <div class="show">
            <h2>{{match?.team1Name |titlecase}} </h2>
            <table class="table table-striped table-bordered tbl">
                <tr>
                    <th>Player</th>
                    <th>Runs</th>
                    <th>BallsFaced</th>
                    <th>Overs</th>
                    <th>wickets</th>
                </tr>
                <tr *ngFor="let player of match.team1Players">
                    <td>{{player?.playerName}}</td>
                    <td>{{player?.playerRuns}}</td>
                    <td>{{player?.ballsFaced}}</td>
                    <td>{{(player?.ballsBowled/6).toPrecision(1)}}</td>
                    <td>{{player?.playerWickets}}</td>
                </tr>
                <tr>
                    <td>Total Runs</td>
                    <td>{{match?.team1Runs}}</td>
                    <td>{{match?.scoreCardTeam1.length*6}}</td>
                    <td>{{(match?.scoreCardTeam1.length/6).toPrecision(1)}}</td>
                    <td>{{match?.team2FallOfWickets.length}}</td>
                </tr>
            </table>
        </div>
        <div class="vl"></div>
        <div class="show">
            <h2>{{match.team2Name |titlecase}} </h2>
            <table class="table table-striped table-bordered tbl">
                <tr>
                    <th>Player</th>
                    <th>Runs</th>
                    <th>BallsFaced</th>
                    <th>Overs</th>
                    <th>wickets</th>
                </tr>
                <tr *ngFor="let player of match.team2Players">
                    <td>{{player?.playerName}}</td>
                    <td>{{player?.playerRuns}}</td>
                    <td>{{player?.ballsFaced}}</td>
                    <td>{{(player?.ballsBowled/6).toPrecision(1)}}</td>
                    <td>{{player?.playerWickets}}</td>
                </tr>
                <tr>
                    <td>Total Runs</td>
                    <td>{{match?.team2Runs}}</td>
                    <td>{{match?.scoreCardTeam2.length*6}}</td>
                    <td>{{(match?.scoreCardTeam2.length/6).toPrecision(1)}}</td>
                    <td>{{match?.team2FallOfWickets.length}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div *ngIf="status===2">
        <h3>This Match Is Scheduled On {{match.date |date}}</h3>
        <p>You Can Check Ongoing matches</p>
        <app-table [matchList]="todayMatch"></app-table>
    </div>
    <div class="Gif_show" *ngIf="status===1">


        <h1 *ngIf="match?.firstBattingTeam===1">{{match?.team1Name|titlecase}} :
            {{match?.team1Runs}}/{{match?.team1FallOfWickets.length}}
            (overs:{{(match?.scoreCardTeam1?.length/6).toPrecision(1)}})</h1>
        <h1 *ngIf="match?.firstBattingTeam===2">{{match.team2Name|titlecase}} :
            {{match?.team2Runs}}/{{match?.team2FallOfWickets.length}}
            (overs:{{(match?.scoreCardTeam2?.length/6).toPrecision(1)}})</h1>
        <img src="../assets/ipl-cricket.gif" (click)="toLiveScore()">

    </div>
</div>
