.tableshow
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.vl {
    border-left: 6px solid rgb(0, 0, 0);
    height: 590px;
  }

  .tbl 
  {
    width: 400x;
    border : 3px solid black;
  }

  .heading
  {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
    border: 4px solid black;
  }

  .show
  {
    width: 35%;
    height: inherit;
  }

  .Gif_show
  {
    width: 500px;
    height: 500px;
    margin: auto;
    padding-top: 0px;
    /* background-color: aqua; */
    
}
