
<div class="container">
    <form [formGroup]="playerform" (ngSubmit)="submit()">
    <div class="form-floating mb-3">
      
        <input type="type" class="form-control" id="floatingInput" [class.is-invalid]="controls['firstName'].invalid && controls['firstName'].touched" name="age" formControlName="firstName">
        <label for="floatingInput">First Name</label>
        <div class="alert alert-danger" *ngIf="controls['firstName'].invalid && controls['firstName'].touched">
            Name is required
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="type" class="form-control" id="floatingInput" [class.is-invalid]="controls['lastName'].invalid && controls['lastName'].touched" name="age" formControlName="lastName">
          <label for="floatingInput">Last Name</label>
          <div class="alert alert-danger" *ngIf="controls['lastName'].invalid && controls['lastName'].touched">
             last  Name is required
            </div>
          </div>
      <div class="form-floating mb-3">
        <input type="number" min=18 class="form-control" id="floatingPassword"  name="age" formControlName="age">
        <label for="floatingPassword">Age</label>
          <div class="alert alert-danger" *ngIf="controls['age'].errors && controls['age'].errors['min']">
            Mininmum age must be 18
          </div>
          <div class="alert alert-danger" *ngIf="controls['age'].errors && controls['age'].errors['max']">
            Age must not exceed 50
          </div>
          <div class="alert alert-danger" *ngIf="controls['age'].errors">
            Age must be a number
          </div>
      </div>
      <div class="form-floating mb-3">
        <input type="number" min=1 class="form-control" id="floatingInputValue" [class.is-invalid]="controls['jerseyNo'].invalid && controls['jerseyNo'].touched" name="jerseyNo" formControlName="jerseyNo" value="jerseyNo">
        <label for="floatingInputValue">jerseyNo</label>
        <div class="alert alert-danger" *ngIf="controls['jerseyNo'].invalid && controls['jerseyNo'].touched">
          jerseyNo is required
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="text" min=1 class="form-control" id="floatingInputValue" [class.is-invalid]="controls['jerseyNo'].invalid && controls['jerseyNo'].touched" name="jerseyNo" formControlName="team" value="team">
        <label for="floatingInputValue">Place</label>
        <div class="alert alert-danger" *ngIf="controls['jerseyNo'].invalid && controls['team'].touched">
          Place is required
        </div>
      </div>
      <div class="form-floating mb-3">
        <select title="playerTyp" class="form-select"  formControlName="type">
          <option value="" disabled selected>Select Type</option>
          <option value="bowler">Bowler</option>
          <option value="allrounder">Allrounder</option>
          <option value="batsman">Batsman</option>
        </select>
        
        <div class="alert alert-danger" *ngIf="controls['type'].errors && controls['type'].touched">
         Select a type
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-info"  [disabled]="playerform.invalid">submit</button>
      </div>
    </form>
</div>
