<div id="OuterMain">
<div class="main">
	<input type="checkbox" id="chk" aria-hidden="true">

	<div class="signup">
		<form (submit)="onLogin(login)" #login="ngForm">
			<label for="chk" aria-hidden="true">Login</label>
			<input type="text" name="phoneNo" placeholder="Phone No." required #loginNumber="ngModel" ngModel>
			<div *ngIf="(string(loginNumber.value).length<10 && loginNumber.touched) || (string(loginNumber.value).length>10 && loginNumber.touched)"
				style="color: red;text-align: center;">Number should be of 10 digits</div>
			<div *ngIf="string(loginNumber.value).length>10&&checkPass(loginNumber.value)&&loginNumber.touched"
				style="color:red;text-align: center;">Please Enter Valid Phone No. !</div>
			<input type="password" name="password" placeholder="Password" required password ngModel
				#loginPassword="ngModel">
			<div *ngIf="(loginPassword.touched&&loginPassword.invalid)||(string(loginPassword.value).length<8 &&loginPassword.touched)"
				style="color: red;text-align: center;">Please Enter Valid-Password !</div>
			<button type="submit"
				[disabled]="loginPassword.invalid||loginNumber.invalid || string(loginPassword.value).length<8">Login</button>
		</form>
	</div>

	<div class="login">
		<form (submit)="onSignUp(signup)" #signup="ngForm">
			<label for="chk" aria-hidden="true">Sign up</label>
			<input type="text" name="phoneNo" placeholder="Phone No." required #number="ngModel" ngModel>

			<div *ngIf="string(number.value).length<10 && number.touched "
				style="color: rgb(248, 11, 11);text-align: center;">Number should be atleast of 10 digits</div>
			<div *ngIf="string(number.value).length>10&&checkPass(number.value)&&number.touched"
				style="color: blanchedalmond;text-align: center;">Please Enter Valid Phone No. !</div>
			<input type="password" name="password" placeholder="Password " required password ngModel
				#password="ngModel">
			<div *ngIf="(password.touched&&password.invalid)" style="color: red;text-align: center;">
				Please Enter Valid-Password !</div>
			<input type="password" name="confirmPassword" placeholder="Confirm Password" #confirmPassword="ngModel"
				required password ngModel>
			<div *ngIf="(password.value!==confirmPassword.value)&&password.touched"
				style="color:red;text-align: center;">Passwords Don't Match</div>
			<button type="submit"
				[disabled]="password.invalid||number.invalid||string(password.value).length<8">Sign up</button>
		</form>
	</div>
</div>
</div>