.page {
  margin-top: 1vw;
  width: 100%;
  display: flex;
  justify-content: center;
}
.box2:hover {
  background-color: rgba(0, 0, 0, 0.093);
}
.box2 {
  cursor: pointer;
  font-size: 0.8vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.199);
  margin: 0 0.3vw;
  padding: 1.5vw;
  width: 1.5vw;
  height: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.box1:hover {
  background: transparent;
}
.box1 {
  cursor: default;
  opacity: 0.5;
}
.selected:hover {
  background-color: rgb(35, 125, 209);
  cursor: default;
}
.selected {
  background-color: rgb(35, 125, 209);
  color: white;
}
.down {
  padding-top: 1.5vw;
  box-sizing: border-box;
  overflow: hidden;
}




.table tr{
  transition: transform 0.5s ease-in-out;
}



.table tr:hover{
  
    transform: scale(1.01);
    background-color: rgb(241, 239, 239);
  
}