
<div class="transform">
    <!-- {{matchList|json}} -->
<table class="table ">
    <thead class="thead-dark">
        <tr>


            <th scope="col">Date</th>
            <th scope="col">Match</th>

                <th>View Details</th>
                <th *ngIf="localStorageHandler.getItem('token')!==null">Add Score</th>
                <th *ngIf="token===null"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matchList ">
            <td> {{match.date | date}}</td>
            <th scope="row" >{{match.team1Name | titlecase}} vs {{match.team2Name|titlecase}} </th>
            <td>
                <button (click)="OnViewDetails(match.id)" class="btn">View Details</button>
            </td>
            <td *ngIf="localStorageHandler.getItem('token')!==null">
                <button *ngIf="(date === formatDate(match.date)) && (token!==null)" (click)="OnAddScore(match.id)">Add Score</button>
            </td>
            <td  *ngIf="localStorageHandler.getItem('token')"></td>
        </tr>
    </tbody>
</table>
</div>
