<div class="container">
    <div class="contain">
        <form class="d-flex input-group w-auto">
            <input
              type="search"
              class="form-control"
              placeholder="Type Player Name"
              aria-label="Search"
              [(ngModel)]="searchbar"
              [ngModelOptions]="{standalone:true}"
            />
            <span
              class="btn btn-primary"
              data-mdb-ripple-color="dark"
              disabled
            >
              Search
        </span>
        <button class="btn btn-primary center"  (click)="OnSubmit('/add_player')" >Add Player</button>
          </form>
    </div>
<table class="table table-striped">
    <tbody>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
            <th>Total_matches</th>
            <th>team</th>
            <th>type</th>
            <th>view Stats</th>
        </tr>
        <tr *ngFor="let player of playerData|filter:searchbar | paginate
        : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };
           index as i">
            <td>{{((i+1))+(tableSize)*(page-1)}}</td>
            <td>{{player.firstName|titlecase}}</td>
            <td>{{player.age}}</td>
            <td>{{player.noOfMatches}}</td>
            <td>{{player.team |titlecase}}</td>
            <td>{{player.type|titlecase}}</td>
            <td><button class="btn btn-primary"  (click)="OnClick(player.id)" >View</button></td>
        </tr>
    </tbody>
</table>

</div>
<div class="d-flex justify-content-center fluid">
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>
