
<table class="table table-stripped">
  <thead>
    <th>Match</th>
    <th>{{matchData?.team1Name|titlecase}} vs {{matchData?.team2Name|titlecase}}</th>
    <th><button class="btn" (click)="team1Data()">{{matchData?.team1Name|titlecase}} Innings</button></th>
    <th><button class="btn" (click)="team2Data()">{{matchData?.team2Name|titlecase}} Innings</button></th>
  </thead>
  <tbody >
<ng-container *ngIf="setFetch===1">
    <ng-container  *ngFor="let overData of oversArray;let over=index">
      <ng-container *ngIf="overData?.bowlerId1">
      <tr [style.border-color]="arrayOfColours[over]" >
      <th class="Overheading">Over No.     : {{over+1}}</th>
      <th class="Overheading">Bowler Name  : {{findBowlerData(overData.bowlerId1)?.at(0)?.playerName|titlecase}}</th>
      <th class="Overheading">Team Runs    : {{overData.team1Runs}}</th>
      <th class="Overheading">Team Wickets : {{overData.team1Wickets}}</th>
      </tr>
      <tr [style.border-color]="arrayOfColours[over]">
            <th>Ball No.</th>
            <th>validity</th>
            <th>Runs</th>
            <th>Wicket</th>
          </tr>

      <ng-container *ngFor="let ballsData of ballsArray">
      <tr *ngIf="ballsData.overNo===over+1" [ngClass]="ballsData.wicketType?'Out':'valid'" >
        <td >{{ballsData.ballNo}}</td>
        <td [ngClass]="ballsData.validity==='valid'?'Valid':'Invalid'">{{ballsData.validity}}</td>
        <td>{{ballsData.runs}}</td>
        <td>{{ballsData.wicketType}}</td>

      </tr>
    </ng-container>
    <tr [style.border-color]="arrayOfColours[over]">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr >
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </ng-container>
  </ng-container>
</ng-container>
    <!-- table 1 ends -->
<ng-container *ngIf="setFetch===2">
    <ng-container  *ngFor="let overData of oversArray;let over=index">
      <ng-container *ngIf="overData?.bowlerId2">
      <tr [style.border-color]="arrayOfColours[over]" >

          <th class="Overheading">Over No.     : {{over+1}}</th>
          <th class="Overheading">Bowler Name  : {{findBowlerData(overData.bowlerId2)?.at(0)?.playerName|titlecase}}</th>
          <th class="Overheading">Team Runs    : {{overData.team2Runs}}</th>
          <th class="Overheading">Team Wickets : {{overData.team2Wickets}}</th>

      </tr>
      <tr [style.border-color]="arrayOfColours[over]">
            <th>Ball No.</th>
            <th>validity</th>
            <th>Runs</th>
            <th>Wicket</th>
          </tr>

      <ng-container *ngFor="let ballsData of ballsArray">
      <tr *ngIf="ballsData.overNo===over+1" [ngClass]="ballsData.wicketType?'Out':'valid'" >
        <td >{{ballsData.ballNo}}</td>
        <td [ngClass]="ballsData.validity==='valid'?'Valid':'Invalid'">{{ballsData.validity}}</td>
        <td>{{ballsData.runs}}</td>
        <td>{{ballsData.wicketType}}</td>

      </tr>
    </ng-container>
    <tr [style.border-color]="arrayOfColours[over]">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr >
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </ng-container>
  </ng-container>
</ng-container>
  </tbody>
</table>
