/* Tables */
.main{
  background-color:lightblue;
  margin-bottom:0%;
}
.Blur{
  background-color: transparent;
}
.outButtonsTable{
  color: blue;
}
.outButtons{
  width: 100%;
  color:white;
  background-color: blue;
  text-align: center;
}

/* Tables css ends */
.image {
    background-repeat: no-repeat;
    width: 100%;
    font-family: arial;

 }
 .scoreStyle{
   position: absolute;
   color: aqua;
 }
 html {
    font-size: 62.5%;
    box-sizing: border-box;
  }



  .calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width:100%;
  }


/*
  button {
    height: 60px;
    font-size: 2rem!important;
  }
   */


  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  .card-text { height: 550px; overflow-y: scroll; width: 100%; }

.card-text p { width: 750px; word-break: break-word; }

.demo {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 130px;
}

.container{
  float: left;
}