
<div class="container-fluid image" style="background-color: #ffffff;height:220px;margin-left:5%;width:90%;">
    <table class="table table-transparent">
      <thead class="main">
      <th><b>Team  : </b>{{matchData?.team1Name|titlecase}}</th>
      <th><b>Score : </b>{{matchData?.firstBattingTeam===1&&matchData?.firstTeamBattingComplete===false?totalRuns:matchData?.team1Runs}}<b> / </b>{{matchData?.firstBattingTeam===1&&matchData?.firstTeamBattingComplete===false?liveWickets:matchData?.team1FallOfWickets.length}}</th>
      <th><b>Team  : </b>{{matchData?.team2Name|titlecase}}</th>
      <th><b>Score : </b>{{matchData?.firstBattingTeam===1&&matchData?.firstTeamBattingComplete===false?matchData?.team2Runs:totalRuns}}<b> / </b>{{matchData?.firstBattingTeam===1&&matchData?.firstTeamBattingComplete===false?matchData?.team2FallOfWickets.length:liveWickets}}</th>
      <th><b>Match Venue</b>: {{matchData?.venue|titlecase}}</th>
      </thead>
      <tbody>
        <tr>
          <td>Striker's End</td>
          <td>{{striker_player}}</td>
          <td>Runs - {{strikerPlayerRuns}} </td>
          <td></td>
          <td *ngIf="Striker_value; "><ng-container>
              <select name="player" (change)="OnSelect($event,1)"  required>
                <option disabled selected hidden>Select Striker Player</option>
                <option *ngFor="let player of battingTeam" [selected]="striker_player===player.playerName"
                  [style.display]="(player.playerName===non_striker_player)||(player.playerName===striker_player)||(player.alreadyBatted)?'none':'block'"
                  value={{[player.playerId,player.playerName]}}>{{player.playerName}}</option>

              </select>

            </ng-container>
          </td>
          <td *ngIf="!Striker_value; "></td>

        </tr>
        <tr>
          <td>Non Striker End</td>
          <td>{{non_striker_player}}</td>
          <td>Runs - {{nonStrikerPlayerRuns}} </td>
          <td></td>
          <td> <ng-container *ngIf="non_Striker_value">

              <select name="player" (change)="OnSelect($event,2)"  required>
                <option disabled selected hidden>Non Striker Player</option>
                <option *ngFor="let player of battingTeam" [selected]="non_striker_player===player.playerName"
                  [style.display]="(striker_player===player.playerName)||(player.alreadyBatted)?'none':'block'"
                  value={{[player.playerId,player.playerName]}}>{{player.playerName}}</option>
              </select>
            </ng-container>
          </td>
        </tr>

        <tr>
          <td>Bowler</td>
          <td>  {{bowler_name}}</td>
          <td *ngIf="!bowler_value"></td>
          <td><b>Balls ( </b>{{(OverNo-1)===-1?0:OverNo-1 || (OverNo-1)===19?OverNo-1:OverNo }} <b>.</b>{{(ballsCount-1)===-1?0:ballsCount-1}}<b> / </b>{{matchData?.totalOvers}}<b> )</b></td>
          <td *ngIf="!bowler_name">
            <ng-container *ngIf="!bowler_name ">

            <select name="player" (change)="OnSelect($event,3)">
              <option value="" disabled selected hidden>Select Bowler</option>
              <option *ngFor = "let player of bowlingTeam" [selected]="bowler_name===player.playerName"
              [style.display]="(player.playerId===localStorageHandler.getItem('bowlerBowled'))
              ||(player.playerName===bowler_name)?'none':'block'" value={{[player.playerId,player.playerName]}}>{{player.playerName}}</option>

              </select>

            </ng-container>

          </td>
          <td *ngIf="bowler_name"></td>
          <td></td>
        </tr>

      </tbody>
    </table>

</div>



  <table class="table table-stripped">

      <thead >
        <ng-container *ngFor=" let valid of validBall">
          <td><input type="checkbox" name="valid.name" [(ngModel)]="valid.isselected" [value]='valid.name' (click)="OnBallChange(valid.id,$event)">{{valid.name}}</td>

  </ng-container>
          </thead>
  </table>




<div class="container">
  <div class="calculator-keys">

    <ng-container *ngFor="let btn of button">

      <button class="btn btn-light" [value]="btn.value" [disabled]='disabled?true:false'
        (click)="[onAddscore($event)]">{{btn.name}}</button>

        </ng-container>
        <button type="button" class="btn btn-danger" [disabled]="ballsCount===0?true:false" (click)="[open(context)]">OUT</button>
        <button type="button" class="btn btn-danger" [disabled]="ballsCount===0?true:false"  (click)="open(select)">Run Out</button>
        <button type="button" class="btn btn-success" (click)="UndoAll()">UnDo</button>

  </div>

  <ng-template #content let-modal>
    <div class="card" style="height:450px;">
      <div class="row">
        <ng-container *ngFor="let shot of shots">
          <h2 class="btn" (click)="modal.close(shot.name)">{{shot.name}}</h2>
        </ng-container>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #context let-out>
  <div class="card" style="height:375px;">
    <table class="table outButtonsTable">
      <ng-container *ngFor="let WicketType of buttonsData">
        <tr><button class="btn outButtons" value="{{WicketType.value}}"
            (click)="[out.close(),Out($event)]">{{WicketType.name}}</button></tr>
        <hr>
      </ng-container>
    </table>
  </div>
</ng-template>

<ng-template class="Blur" #select let-runout>
  <table class="table">
    <tr>
      <button class="btn outButtons" value="strikerOut"
        (click)="[runout.close(),runOut(striker_player,'striker_player')]">{{striker_player}}</button>
    </tr>
    <hr>
    <tr>
      <button class="btn outButtons" value="nonStrikerOut"
        (click)="[runout.close(),runOut(non_striker_player,'non_striker_player')]">{{non_striker_player}}</button>
    </tr>
  </table>
</ng-template> 
