<div class="m-3 p-3">
    <form class="align-item-centre" (ngSubmit)="onSubmit(teamData)" #teamData="ngForm">
        <div class="row align-item-centre">
            <div class="row m-3 row-auto">
                <label for="" class="form-label col col-auto p-1">Date of Match</label>
                <div><input type="date" name="date" class="col col-auto"  [min]="date" ngModel (input)="onInput($event)" />
                </div>
            </div>
            <div class="mb-3 col" [hidden]="inputFlag">
                <label for="" class="form-label col">team A</label>
                <input type="text" class="form-control" placeholder="Enter team A name" name="teamA" ngModel [(ngModel)]="team1name"
                    (input)="onTeamAInput($event)" />
                <select class="form-select form-select-sm col p-2 mt-3" name="team 1" id="" multiple
                    (change)="onSelection($event, 'a')" [hidden]="teamAFlag">
                    <option *ngIf="team1.length<11;" disabled selected>Add team A Players</option>
                    <option *ngIf="team1.length>=11;" selected disabled>Can't Add More Players</option>
                    <option *ngFor="let player of players" [value]="player.id" [disabled]="team1.length<11?false:true">{{ player.firstName}}</option>
                </select>
                <ng-container>
                  <table class="table table-sm">
                    <thead>
                      <th>S.No.</th>
                      <th>Player Name</th>
                      <th>Management</th>
                    </thead>
                    <tr *ngFor="let player of team1,let i=index">
                      <td>{{i+1}}</td>
                      <td>{{ player.firstName |titlecase }}</td>
                      <td><button (click)="onPopUp(i,'a')">Delete</button></td>
                  </tr>
                  </table>
              </ng-container>
            </div>
            <div class="mb-3 col" [hidden]="inputFlag">
                <label for="" class="form-label col">team B</label>
                <input type="text" class="form-control" placeholder="Enter team B name" name="teamB" ngModel [(ngModel)]="team2name"
                    (input)="onTeamBInput($event)" />
                <select class="form-select form-select-sm col p-2 mt-3" name="team 2" id="" multiple
                    (change)="onSelection($event, 'b')" [hidden]="teamBFlag">
                    <option *ngIf="team2.length<11" disabled selected>Add team B Players</option>
                    <option *ngIf="team2.length>=11"  selected disabled >Can't Add More Players</option>
                    <option *ngFor="let player of players" [value]="player.id" [disabled]="team2.length<11?false:true">{{ player.firstName }}</option>
                </select>

                <ng-container>
                  <table class="table table-sm">
                    <thead>
                      <th>S.No.</th>
                      <th>Player Name</th>
                      <th>Management</th>
                    </thead>
                    <tr *ngFor="let player of team2,let i=index">
                      <td>{{i+1}}</td>
                      <td>{{ player.firstName |titlecase}}</td>
                      <td><button (click)="onPopUp(i,'b')">Delete</button></td>
                  </tr>
                  </table>
              </ng-container>

            </div>
        </div>


        <div class="col-auto" [hidden]="inputFlag">
            <div>
                Which Team Will Bat first
            </div>
            <select name="bating" ngModel>
                <option value="" disabled selected hidden>Select Team</option>
                <option value=1>{{team1name}}</option>
                <option value=2>{{team2name}}</option>
            </select>
            <button type="submit" class="btn btn-primary m-2">Schedule Match</button>
        </div>
    </form>
</div>
<!-- {{team1|json}} -->
<!-- Propeller Dropdown -->

