<app-table [matchList]="todayMatch" [route]="route"></app-table>
<footer>
    <div class='example'>
      <button class='text' (click)="onPreviousClick()" [disabled]="((page-1)<=0)">Previous</button>
      <div class='counter'>
          <span class='number'>{{page}}</span>
          <div class='background'></div>
          <span class='number'>{{totalPages}}</span>
      </div>
      <button class='text' (click)="onNextClick()" [disabled]="((page+1)>totalPages)">Next</button>
  </div>
  </footer>
